@tailwind components;
@tailwind base;
@tailwind utilities;
@layer components {
  .\@button {
      @apply @text-sky-900 @border-4 @border-sky-900 @px-2 @rounded-lg hover:@bg-gray-300;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}